.cropTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cropAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-size: 16px;
}

.cropContainer {
  display: flex;
  margin-top: 20px;
}

.cropShow {
  flex: 1;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.cropUpdate {
  flex: 2;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  margin-left: 20px;
}

.cropShowTop {
  display: flex;
  align-items: center;
}

.cropShowImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.cropShowTopTitle {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}

.cropShowUsername {
  font-weight: 600;
}

.cropShowUserTitle {
  font-weight: 300;
}

.cropShowBottom {
  margin-top: 20px;
}

.cropShowTitle {
  font-size: 14px;
  font-weight: 600;
  color: rgb(175, 170, 170);
}

.cropShowInfo {
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #444;
}

.cropShowIcon {
  font-size: 16px !important;
}

.cropShowInfoTitle {
  margin-left: 10px;
}

.cropUpdateTitle {
  font-size: 24px;
  font-weight: 600;
}

.cropUpdateForm {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.cropUpdateItem {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cropUpdateItem > label {
  margin-bottom: 5px;
  font-size: 14px;
}

.cropUpdateInput {
  border: none;
  width: 250px;
  height: 30px;
  border-bottom: 1px solid gray;
}

.cropUpdateRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cropUpdateUpload {
  display: flex;
  align-items: center;
}

.cropUpdateImg {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.cropUpdateIcon {
  cursor: pointer;
}

.cropUpdateButton {
  border-radius: 5px;
  border: none;
  padding: 5px;
  cursor: pointer;
  background-color: darkblue;
  color: white;
  font-weight: 600;
}

.crop {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #99e2d0;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.predictCropContainer {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #99e2d0;
  padding: 1rem;
  text-align: center;
  width: 800px;
  height: 400px;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #99e2d0;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}
