.CropProfile {
    flex: 4;
    font-size: 24px;
    font-weight: 600;
  }
  
  .CropProfileUser {
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
  }
  
  .CropProfileImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
    font-size: 24px;
    font-weight: 600;
  }
  
  .CropProfileEdit{
      border: none;
      border-radius: 10px;
      padding: 5px 10px;
      background-color: #3bb077;
      color: white;
      cursor: pointer;
      margin-right: 20px;
      font-size: 24px;
      font-weight: 600;
  }
  
  .CropProfileDelete{
      color: red;
      cursor: pointer;
  }
  