<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Farmer</title>  
</head>  
<body>  
    <h2>Farmer Information</h2>   
    <form action = "/savedetails" method="post">  
    <table>  
        <tr><td>Username</td><td><input type="text" name="username"></td></tr> 
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
        <tr><td>Phone Number</td><td><input type="tel" name="phone"></td></tr>  
        <tr><td>Address</td><td><input type="text" name="address"></td></tr>
        <tr><td>Password</td><td><input type="password" name="password"></td></tr>   
        <tr><td>D.O.B.</td><td><input type="date" name="dob"></td></tr> 
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html>  
